@model CinemaHub.ViewModels.SeriesEpisodeViewModel
@{
    ViewBag.Title = "Watching Episode";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    

<link rel="stylesheet" href="~/Css/Film.css">

<div class="container" style="margin-top: 5%;">
    <div class="row">

        <div class="col-lg-2" style="display: flex; justify-content: center; align-items: center;">
            <div class="card">
                <img src="@Model.series.ImgSrc" alt="" width="100%" height="300px">
            </div>
        </div>

        <div class="col-lg-10">
            <div class="container">

                <span class="FilmName">Watching Film @Model.series.Name </span>

                <div class="row" style="display: flex; justify-content: space-evenly; margin: 10px;">
                    <div class="col-lg-5 DateModified">
                        <span>Release Date : </span> <span> @Model.series.ReleaseDate</span>
                    </div>
                    <div class="col-lg-1">
                    </div>

                    <div class="col-lg-5 Type">
                        <span>Type : </span> <span>@Model.series.Genre.Name</span>
                    </div>

                    <div class="col-lg-12 Type" style="height:150px;">
                        <span> <span style="font-size:20px">Description :</span> @Model.series.Description </span>
                    </div>

                </div>
            </div>


        </div>


    </div>





</div>







<div class="container" style="margin-top: 5%;">
    <div class="row" style="min-height: 500px; align-items: center;">
        <div class="col-lg-3" style="border-radius: 0px; display: flex; justify-content: center ; align-items: center; flex-direction: column; background-color: #090909; max-height: 300px;">
            <div class="container">

                <div class="row">

                    <button class="btn ServerImg col-lg-12">
                        <img src="~/gb.png" alt="">
                        <span class="">Server1</span>
                    </button>

                    <button class="btn ServerImg col-lg-12">
                        <img src="~/gb.png" alt="">
                        <span class="">Server2</span>
                    </button>

                    <button class="btn ServerImg col-lg-12">
                        <img src="~/gb.png" alt="">
                        <span class="">Server3</span>
                    </button>

                    <button class="btn ServerImg col-lg-12">
                        <img src="~/gb.png" alt="">
                        <span class="">Server4</span>
                    </button>
                </div>
            </div>


        </div>

        <div class="col-lg-9">
            <div class="row">

                <video id="videoEpisode" controls class="vid col-lg-12" src="@Model.episodes.ElementAt(0).VidSrc" poster="~/pornhub_logo_by_imdoctab_de0703b-pre-removebg-preview.png" style="max-height: 480px;">
                </video>
            </div>


        </div>


    </div>







    <div class="container">
        <div class="row" style="">
            @{
                var count = 1;

                foreach (var item in Model.episodes)
                {

                    <div class="col-lg-2" style="margin:5px">

                        <a new-src="@item.VidSrc" class="episodes card" style="cursor: pointer; border: none; background-image: linear-gradient( to bottom, orange, white); justify-content: center; align-items: center; height: 40px;">
                            episode @count
                            @{count++;}

                        </a>

                    </div>

                }

            }


        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @section scripts{
        <script>



            $(document).on('click', '.episodes', function () {

                var btn = $(this);
                var newSrc = btn.attr("new-src"); 
                $("#videoEpisode").attr("src", newSrc);

            });



        </script>



    }

